<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to "#{@album.artist.name}", @album.artist %>
</p>

<% @tracks.each do |track| %>
  <p>
    <strong>Track:</strong>
    <%= link_to "#{track.title}", track %>
  </p>
<% end %>

<p>
  <strong>Length:</strong>
  <%= @length %>
</p>

<% if user_signed_in? %>
  <%= link_to 'New Track', "/tracks/new?id=#{@album.id}" %>
  |
  <%= link_to 'Edit', edit_album_path(@album) %> |
<% end %>
<%= link_to 'Albums', albums_path %>
